.bg-black {
  background: #181818;
}

.bg-navy-blue {
  background: #16181d;
}

.bg-gray {
  background: #252830;
}

.loginWindowW {
  width: 450px;
}

.loginWindowH {
  height: 480px;
}

.formSearchInput + .inputWidth {
  width: 0px;
  -webkit-transition: width .35s ease-in-out;
  transition: width .35s ease-in-out;
}

.formSearchInput:focus + .inputWidth {
  width: 300px;
}

.lds-dual-ring {
  display: inline-block;
  width: 100px;
  height: 100px;
}

.lds-dual-ring:after {
  content: "";
  display: block;
  width: 100px;
  height: 100px;
  border: double 5px transparent;
  border-radius: 50%;
  background-image: linear-gradient(#16181d, #16181d), radial-gradient(circle at top left, #16181d, #16181d, #17a0b5);
  background-origin: border-box;
  background-clip: content-box, border-box;
  animation: lds-dual-ring 1.3s linear infinite;
}

@keyframes lds-dual-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
